* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#app {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  border: 2px solid black;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 900px;
  margin-inline: auto;
}

.grid-item {
  background-color: whitesmoke;
  aspect-ratio: 1/1;
  flex: 0 0 calc((100% - (15px)) / 16); /* 16 items per row, 15 gaps (15 * 1px) */
}
